body{
	background-color: black;
	background-image: url(../images/black-leather.jpg);
}

#body{
	width: 95%;
	padding: 5px;
	background-color: grey;
	color: white;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: -14px;
	border-radius: 3px;
}

#header{
	background-color: silver;
	margin-top: -8px;
	margin-left: -8px;
	margin-right: -8px;
	margin-bottom: 8px;
	padding: 5px;
	font-size: 22pt;
	text-align: center;
	text-shadow: grey 3px 3px 2px;
}

#buttons{
	background-color: Black;
	font-size: 16pt;
	color: white;
	text-align: center;
	text-decoration: none;
	margin: 2px;
	padding: 2px;
	border-radius: 3px;
	text-shadow: #grey 3px 3px 2px;
}

#home{
	background-color: silver;
	color: black;
	text-decoration: none;
	padding: 5px;
	font-size: 22pt;
	text-align: center;
	text-shadow: grey 3px 3px 2px;
}

#header img{
	margin-bottom: -6px;
	margin-right: -6px;
}

#footer{
	background-color: silver;
	color: #f23;
	margin-left: -8px;
	margin-right: -8px;
	text-align: center;
	text-shadow: #cf0 3px 3px 2px;
}

#navbar{
	margin-left: auto;
	margin-right: auto;
}

#navbar li a{
	color: black;
	text-decoration: none;
}

#navbar ul li a{
	color: black;
	text-decoration: underline;
}

#navbar li span{
	color: green;
	text-decoration: none;
	text-align: right;
}

#navbar li{
	position: relative;
	width: 127px;
	display: inline-block;
	color: black;
	background: silver;
	border-radius: 3px;
	padding: 2px;
	list-style: none;
}

#navbar ul li{
	position: absolute;
	display: none;
}

#navbar li:hover ul li{
	margin-left: -42px;
	display: table;
	color: black;
	background: silver;
	border-radius: 3px;
	padding: 2px;
	list-style: none;
}

td span{
	color: #00FF0A;
}

#data td{
	color: #00FFB6;
}
